body{
    background-color: #181818;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.link{
    text-decoration: none;
    color: white;
    font-family: "Lato", sans-serif;
}

.menu nav ul li a:hover {
    color: #672af3;
}

.btn {
    display: block;
    padding: 8px 40px;
    border: 2px solid ;
    border-radius: 8px;
    font-weight: 500;
    margin: 0 20px;
    transition: all 300ms;
    color: rgb(184, 186, 223);
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.btn:hover {
    background:#181f63;
    color: #6b31f3;
    text-decoration: none;
}
